.border{
    border: 3px solid red;
    margin: 3px;
}


.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}


.bg-grey{
    background-color: #121212;
    color: white;
}

.invert{
    filter: invert(1);
    -webkit-filter: invert(1);
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.rounded{
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}